@import url( '~renderer/assets/fonts/roboto.css' );


@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


body {
  background-color: whitesmoke !important;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}


#root {
  // these settings help reduce the "web page" feel of electron apps
  -webkit-user-select: none;
  user-select: none;
  cursor: default;

  // Cover the whole window
  height: 100%;

  // Make sure this matches the native window background color that you pass to
  // electron.BrowserWindow({...}), otherwise your app startup will look janky.
  background-color: whitesmoke;

  // Smoother startup
  animation: fadein 0.5s;
}


.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.fp {
  margin-right: 5px;
}


.small-caps {
  text-transform: uppercase;
  font-variant: small-caps;
  font-weight: 100;
}


.img-responsive {
  display: inline-block;
  object-fit: contain;
}
