#player-card {
  .alias {
    text-align: center;
  }

  .flag-divider {
    margin: 10px 0;
  }

  .flag-text {
    text-transform: uppercase;
    font-variant: small-caps;
    font-weight: 100;
    font-size: .8em;
  }

  .ant-badge {
    // fixes a bug when using an icon with a badge
    // where the icon's font-size is reset
    font-size: 1rem;
  }
}
