@import '~renderer/windows/shared';


#home {
  min-height: 100vh;
  color: black;

  .content {
    padding: 20px;
  }

  .logocontainer {
    margin: 20px 0;
  }

  img {
    width: 100%;
    height: auto;
    max-height: 100px;
  }
}
