.sidebar {
  position: fixed;
  left: 0;
  height: 100vh;

  &[class*="collapsed"] img {
    max-width: 60px;
    max-height: auto;
  }

  img {
    width: auto;
    height: auto;
    max-height: 100px;
  }

  .logocontainer {
    margin: 20px 0;
    display: flex;
    justify-content: center;
  }

  .ant-badge-count, .ant-badge-dot {
    margin-left: 5px;
    box-shadow: none;
  }

  // ~~~~~
  // start workaround for antd allowing menu icons with icons
  // ~~~~~
  .anticon + .ant-badge {
    opacity: 1 !important;
  }

  .ant-badge + span {
    opacity: 0;
  }
  // ~~~~~
  // end workaround
  // ~~~~~
}
