.sidebar {
  position: fixed;
  left: 0;
  height: 100vh;

  img {
    width: 100%;
    height: auto;
    max-height: 100px;
  }

  .logocontainer {
    margin: 20px 0;
  }

  .ant-badge-count, .ant-badge-dot {
    margin-left: 5px;
    box-shadow: none;
  }

  // ~~~~~
  // start workaround for antd allowing menu icons with icons
  // ~~~~~
  .anticon + .ant-badge {
    opacity: 1 !important;
  }

  .ant-badge + span {
    opacity: 0;
  }
  // ~~~~~
  // end workaround
  // ~~~~~
}
