@import '~renderer/windows/shared';


body {
  background-color: black !important;
}


#root {
  background-color: black;
}


.particles {
  position: absolute;
  width: 100%;
  height: 100%;
}


section#splash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url( './home_alt.png' );
  background-size: cover;
  background-position: center;
  overflow: hidden;
  height: 100%;
  padding: 0px 20px;
  color: white;

  p {
    text-align: center;
  }

  i {
    font-size: 1.5em;
  }

  .progress-container {
    width: 100%;
    height: 25px;
    text-align: center;
  }
}
