.promotion-auto {
  td:first-child {
    border-left: 2px solid lighten( green, 25 );
  }
}


.promotion-playoffs {
  td:first-child {
    border-left: 2px solid lighten( steelblue, 25 );
  }
}


.relegation {
  td:first-child {
    border-left: 2px solid lighten( salmon, 25 );
  }
}
