#settings {
  section + section {
    margin-top: 20px;
  }

  .ant-row + .ant-row {
    margin-top: 20px;
  }

  .ant-card-grid {
    width: 100%;
  }

  .ant-form-item {
    margin-bottom: 0;
  }

  // grouped inputs with only two elements
  // should split the width 50/50
  .ant-input-group > div:first-child,
  .ant-input-group > div:nth-child(2) {
    width: 50%;
  }

  // full width on grouped inputs look
  // weird so do not set it on those
  :not(.ant-input-group) > .ant-input-number,
  :not(.ant-input-group) > .ant-select {
    width: 100%;
  }
}
