.inbox-preview {
  cursor: pointer;

  .active {
    background-color: scale-color($color: white, $lightness: -10%)
  }

  .inbox-preview-title {
    display: flex;
    justify-content: space-between;
    font-weight: 200;
  }

  .inbox-preview-body {
    max-height: 60px;
    overflow: hidden;
  }

  .ant-badge-dot {
    box-shadow: none;
  }
}
