#header {
  height: 72px;

  .ant-page-header, .ant-page-header-heading {
    height: 100%;
    padding: 0;
  }

  .ant-page-header {
    padding-left: 20px;
    border-bottom: 1px solid gainsboro;
  }

  .ant-page-header-heading-title {
    font-size: 1.5rem;
    line-height: normal;
  }

  .ant-page-header-heading-extra {
    display: flex;
    align-items: center;
    margin: 0;
  }

  .btn-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 200px;
  }

  .ant-btn {
    height: 100%;
    width: 100%;
    font-size: 1.2em;
    font-variant: small-caps;
    font-weight: 200;
    border-radius: 0;
  }

  .teamname-container {
    font-weight: 200;
    font-size: .5em;
    font-variant: small-caps;
  }

  .date-container {
    font-weight: 200;
    font-variant: small-caps;
  }
}
