@import '~renderer/assets/shared';


/**
* TOP-LEVEL/ROOT STYLES
*/

#main {
  min-height: 100vh;
  color: black;

  .content {
    padding: 20px;
  }
}


#route-container {
  margin-left: 200px;
  transition: margin-left 200ms ease;

  &.collapsed {
    margin-left: 80px;
  }
}


/**
* ANTD LIB OVERRIDES
*/

.ant-page-header {
  border-bottom: 1px solid gainsboro;
}


.ant-page-header-heading-title {
  font-size: 1.5rem !important;
  line-height: normal !important;
}


/**
* INDIVIDUAL ROUTE STYLES
*/

#inbox {
  display: flex;

  section.preview {
    width: 35%;
    margin-right: 10px;
  }

  section.email {
    position: fixed;
    right: 0;
    // fixed breaks us out of the flex container,
    // so this is relative to the window size
    width: 50%;
  }
}


#squad {
  .training {
    margin-bottom: 20px;
  }

  .training .ant-space {
    width: 100%;
    margin: 10px 0;
  }

  .training .ant-space-item {
    width: 25%;
    max-width: 25%;
    text-align: center;
  }

  .training .empty {
    border: 1px dashed lightgray;
    color: lightgray;
  }
}


#competitions {
  .ant-select {
    width: 25%;
    margin-bottom: 10px;
  }
}


#team {
  $chart-height: 200px;

  article#history-container {
    display: flex;
    height: $chart-height;

    & > aside {
      width: 100%;
    }

    & > aside:first-child {
      flex-basis: 33%;
      height: 100%;
      text-align: center;
      vertical-align: middle;
    }

    & > aside + aside {
      position: relative;
      flex-basis: 66%;
      height: $chart-height;
    }

    & > aside:only-child {
      flex-basis: 100%;
    }

    img {
      display: block;
      width: auto;
      max-height: 66%;
      margin: 0 auto;
      margin-top: 10px;
    }
  }
}
