@import '~renderer/assets/shared';


#main {
  min-height: 100vh;
  color: black;

  .content {
    padding: 20px;
  }
}


#home {
  display: flex;

  & > * {
    flex-basis: 50%;
  }
}


#inbox {
  display: flex;

  section.preview {
    width: 35%;
    margin-right: 10px;
  }

  section.email {
    width: 65%;
  }
}
