.canvasWrapper {
  width: 100%;
  height: 100%;
}

.container {
  position: relative;
  background-image: url( '../../assets/images/home.jpg' );
  background-size: cover;
  background-position: center top;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  color: white;
}

.content {
  position: absolute;
  top: 150px;
  right: 40px;
}

h1 {
  letter-spacing: 3px;
  font-family: 'Roboto', 'sans-serif';
  font-weight: 100;
  font-size: 5em;
}

nav {
  padding-right: 10px;
  text-align: right;
}

nav > span {
  display: block;
  margin: 20px 0;
  padding-right: 20px;
  border-right: 8px solid rgba( 0, 0, 0, 0 );
  font-weight: 100;
  text-decoration: none;
  color: lightgray;
  transition: border-right 100ms ease-in-out, text-shadow 100ms ease-in-out;

  &:hover {
    border-right: 8px solid white;
    text-shadow: 0px 0px 5px white;
    color: white;
  }
}