/*
* Inspirational palettes:
*
* https://creativemarket.com/blog/20-bold-color-palettes-to-try-this-month-august-2015
* http://www.colourlovers.com/palette/3845350/Desirable_Experience
*/

$NavBgColor: #42013B;
$Cyan: #118980;
$Orange: #D95B43;

.container {
  display: flex;
  height: 100vh;
}

.navContainer {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: space-around;
  background-color: $NavBgColor;
  width: 25%;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  text-align: right;
  font-variant: small-caps;
  letter-spacing: 2px;
}

.navItem {
  position: relative;
  cursor: pointer;
  padding-bottom: 10px;

  &:hover .navItemBorder {
    width: 100%;
  }
}

.navItemBorder {
  position: absolute;
  right: 0;
  display: block;
  height: 2px;
  width: 0;
  margin-top: 10px;
  transition: width 0.4s ease-in-out;

  background: linear-gradient(
    to right,
    lighten( $NavBgColor, 25 ),
    $Cyan
  );
}

.splashContainer {
  background-size: cover;
  background-position: center;
  width: 100%;
}

.splashContainerDefault {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-left: 50px;

  background: linear-gradient(
    to right,
    $NavBgColor,
    lighten( $NavBgColor, 20 )
  );

  h1 {
    font-size: 3em;
    color: rgba( black, 0.6 );
    text-shadow: 2px 2px 3px rgba( white, 0.1 );
  }

  h2 {
    font-size: 1.5em;
    color: rgba( black, 0.6 );
    text-shadow: 2px 2px 3px rgba( white, 0.1 );
  }
}
