.container {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
}

.content {
  position: absolute;
  top: 120px;
  right: 40px;
  width: 40%;
}

.wideContent {
  position: absolute;
  top: 200px;
  width: 100%;
  height: 60%; // relative to the viewport
  padding: 0 40px;
}

.table {
  height: 100%;
  margin-top: 20px;
  text-align: center;

  div.thead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparentize( black, 0.35 );
    height: 40px;
    max-height: 10%;
    padding: 0 5px;
  }

  div.tbody {
    height: 90%;
    overflow-y: scroll;
  }

  div.row {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;

    &:nth-child( even ) {
      background-color: transparentize( black, .7 );
    }
  }

  span {
    flex-grow: 1;
    flex-basis: 0;

    &:first-child {
      text-align: left;
    }
  }
}

h2.subtitle {
  border-bottom: 1px solid transparentize( white, 0.6 );
  margin-bottom: 10px;
  padding-bottom: 5px;
  font-size: 1.2em;
}

button.submit {
  position: absolute;
  right: 0;
}

.fieldSet {
  margin-bottom: 10px;

  input {
    width: 100%;
  }
}