.container {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
}

.content {
  position: absolute;
  top: 120px;
  right: 40px;
  width: 40%;
}

.wideContent {
  position: absolute;
  top: 160px;
  width: 100%;
  padding: 0 40px;
}

h2.subtitle {
  border-bottom: 1px solid transparentize( white, 0.6 );
  margin-bottom: 10px;
  padding-bottom: 5px;
  font-size: 1.2em;
}

button.submit {
  position: absolute;
  right: 0;
}

.fieldSet {
  margin-bottom: 10px;

  input {
    width: 100%;
  }
}