#exp-bar > section.title {
  font-size: .8em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}


#exp-bar > section.bar {
  display: flex;

  & > span {
    font-size: .8em;
    line-height: 2em;
  }

  .ant-progress {
    padding: 0 5px;
  }
}
