export default class Seeder {
  static up( docs: any ) {
    const data = Object.keys( continents ).map( continentFormatter );
    return docs.continents.insert( data );
  }

  static down( db: any ) {
    // @todo: should return a promise
  }
}
