// @flow


export default class Seeder {
  static up( docs: Object ) {
    const data = Object.keys( continents ).map( continentFormatter );
    return docs.continents.insert( data );
  }

  static down( db: Object ) {
    // should return a promise
  }
}