@import '~renderer/assets/shared';


html {
  overflow-x: hidden;
}


#firstrun {
  width: 100%;
  padding-top: 20px;

  img {
    display: block;
    width: 20%;
    margin: 0 auto;
  }
}


#steps {
  width: 50%;
  margin: 20px auto;

  .ant-steps-item-title {
    font-variant: small-caps;
    font-weight: 100;
  }

  .ant-steps-item-active .ant-steps-item-title {
    font-weight: 300;
  }
}


#routes {
  width: 35%;
  margin: 0 auto;
  text-align: center;

  h1 {
    font-variant: small-caps;
    font-weight: 100;
  }

  button {
    margin-top: 24px;
  }

  .content {
    position: absolute;
    width: 35%; // same as parent's
  }

  .ant-form-item {
    margin-bottom: 10px;
  }

  .ant-select {
    text-align: left;
  }

  /**
  * Slide in from right when entering
  */
  .fade-enter {
    right: -999px;
  }

  .fade-enter.fade-enter-active {
    right: 0;
    transition: right 300ms ease-in-out;
  }

  /**
  * Simple fade out animation when exiting
  */
  .fade-exit {
    left: 0;
    opacity: 1;
  }

  .fade-exit.fade-exit-active {
    left: -999px;
    transition: left 300ms ease-in-out;
  }
}
