@import '~renderer/assets/shared';


$content_width: 75%;
$content_width_small: 45%;
$squad_picker_height: 120px;


html {
  overflow-x: hidden;
}


#firstrun {
  width: 100%;
  padding-top: 20px;

  .logocontainer {
    display: flex;
    justify-content: center;
  }

  img {
    display: block;
    width: auto;
    height: 150px;
  }
}


#steps {
  width: 50%;
  margin: 20px auto;

  .ant-steps-item-title {
    font-variant: small-caps;
    font-weight: 100;
  }

  .ant-steps-item-active .ant-steps-item-title {
    font-weight: 300;
  }
}


#routes {
  width: $content_width;
  margin: 0 auto;
  text-align: center;

  h1 {
    font-variant: small-caps;
    font-weight: 100;
  }

  button {
    margin-top: 24px;
  }

  .content {
    position: absolute;
    width: $content_width;
  }

  .content-small {
    width: $content_width_small;
  }

  .content-center {
    margin: 0 auto;
  }

  .ant-form-item {
    margin-bottom: 10px;
  }

  .ant-select {
    text-align: left;
  }

  /**
  * Slide in from right when entering
  */
  .fade-enter {
    right: -999px;
  }

  .fade-enter.fade-enter-active {
    right: 0;
    transition: right 300ms ease-in-out;
  }

  /**
  * Simple fade out animation when exiting
  */
  .fade-exit {
    left: 0;
    opacity: 1;
  }

  .fade-exit.fade-exit-active {
    left: -999px;
    transition: left 300ms ease-in-out;
  }
}

#squadselect {
  p {
    margin-bottom: 0;
  }

  .ant-space {
    width: 100%;
    margin: 10px 0;
  }

  .ant-space-item {
    min-width: 20%;
    max-width: 20%;
    text-align: center;
  }

  .ant-space-item > .ant-card {
    height: $squad_picker_height;
  }

  .empty {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed lightgray;
    color: lightgray;
  }
}
